* {
    background-color: coral;
}

p {
    color: cornflowerblue;
    text-align: center;
}
header {
    background-color: cornsilk;
    width: 100%
    ;
}
.quizContainer {
    background-color: crimson;
}